name: Lint Code Base

# Run linter on push
on:
  push:
    branches-ignore: [master, main]
    # Remove the line above to run when pushing to master
  pull_request:
    branches: [master, main]
    
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
     
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          JAVA_FILE_NAME: workflow/format.xml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
